* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  vertical-align: middle;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #eee;
  color: #111;
}

header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-weight: bold;
  font-size: 1.3rem;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

header nav a {
  text-decoration: none;
  font-weight: bold;
  color: #111;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 600px;
}

#hero {
  width: 100%;
  background-color: #fff;
  color: #111;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 800px;
}

#hero div {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#hero div h1 {
  font-size: 3rem;
  font-weight: bold;
}

#hero .hero_first-paragraph {
  font-size: 1.5rem;
}

#hero div p {
  font-size: 1rem;
}

#hero img {
  width: 600px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #333;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-top: 4rem;
  gap: 1rem;
  color: #eee;
}

footer a {
  color: #eee;
}

footer .copyright {
  background-color: #111;
  margin-top: 2rem;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}
